<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <property name="LOG_FILE" value="application-test.log"/>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="fr.recia.glc" level="DEBUG"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>
